* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}

:root {
  --heading: #e0e1dd;
  --para: #b3b4b1;
  --para-tint: #868785;
  --white: #fff;
  --black: #000;
  --helper: #0d1b2a;
  --helper-tint: #1b263b;
  --gradient: linear-gradient(0deg, #415a77 0%, #415a77 60%);
  --box-shadow: 0rem 0rem 5rem 0rem #e0e1dd;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-color: var(--helper);
}

h1, h2, h3{
    color: var(--heading);
}

h1 {
  font-size: 8rem;
  background-color: var(--gradient);
}

h1, h2{
    font-weight: 800;
}

h2 {
  font-size: 6rem;
}

h3 {
  font-size: 4.4rem;
  font-weight: 600;
}

p {
  font-size: 2rem;
  color: var(--para);
  font-weight: 400;
}

li {
  list-style: none;
  font-size: 2rem;
  color: var(--para);
  font-weight: 400;
}

b{
  font-size: 3rem;
  color: var(--para);
  font-weight: 400;
}

a:link{
    text-decoration: none;
}

.section {
    padding: 9rem 0;
}

.container{
    max-width: 140rem;
    margin: 0 auto;
}

.grid{
display: grid;
gap: 9rem;
}

.grid-two-column{
 grid-template-columns: repeat(2, 1fr);
}


.btn{
    background-color: var(--helper);
    padding: 1.6rem 3.2rem;
    color: var(--para);
    font-size: 1.65rem;
    border: none;
    font-weight: 400;
    cursor: pointer;
    border-radius: 9rem;
    transition: all 0.3s linear;
    display: inline-block;
}

.btn:hover{
    box-shadow: var(--box-shadow);
}

    /* Temp */
img{

    width: 250px;
}



.grid-container {
	display: grid;
	grid-template-rows: 200px 200px;
	grid-template-columns: 100px 100px 100px;
}

.grid-container {
	display: grid;
	grid-template-rows: 100px 100px;
	grid-template-columns: 100px 100px 100px;
	grid-gap: 80px;
}
.grid-container {
  display: grid;
  grid-template-rows: 100px 100px 100px 100px;
  grid-template-columns: 100px 100px 100px 100px;
  grid-gap: 5px;
}

.grid-item1 {
  background: blue;
  text-align: center;
  border: black 5px solid;
  grid-column-start: 1; 
  grid-column-end: 5; 
  grid-row-start: 1; 
  grid-row-end: 4;
}

.grid-item2 {
  background: grey;
  text-align: center;
  border: black 5px solid;
  grid-column-start: 1; 
  grid-column-end: 5;  

  

  
}
.grid-container {
  display: grid;
  grid-template-rows: 100px [Line1] 100px [Line2] 100px [Line3] 100px [Line4];
  grid-template-columns: 100px 100px 100px 100px;
  grid-gap: 5px;
}




